/* https://catppuccin.com/palette/ */
:root {
    --Crust: #181926;
    --Mantle: #1e2030;
    --Base: #24273a;
    --Surface0: #363a4f;
    --Surface1: #494d64;
    --Surface2: #5b6078;
    --Overlay0: #6e738d;
    --Overlay1: #8087a2;
    --Overlay2: #939ab7;
    --Subtext0: #a5adcb;
    --Subtext1: #b8c0e0;
    --Text: #cad3f5;
    --Lavender: #b7bdf8;
    --Blue: #8aadf4;
    --Sapphire: #7dc4e4;
    --Sky: #91d7e3;
    --Teal: #8bd5ca;
    --Green: #a6da95;
    --Yellow: #eed49f;
    --Peach: #f5a97f;
    --Maroon: #ee99a0;
    --Red: #ed8796;
    --Mauve: #c6a0f6;
    --Pink: #f5bde6;
    --Flamingo: #f0c6c6;
    --RoseWater: #f4dbd6;
}

* {
    color: var(--Text);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* outline: 2px solid green; */

    text-align: center;
}

*::selection {
    background-color: var(--Sapphire);
    color: #181926;
}

body {
    background-color: var(--Base);
    margin: 0;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

h1 {
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: auto;
}

.container {
    width: 80%;
    min-width: 400px;
    max-width: 600px;
    background-color: var(--Crust);
    border-radius: 1em;
    padding: 20px;
    padding-top: 0px;
    margin: 20px auto 0 auto;
}

.container-wider {
    /* width: 100%; */
    min-width: 400px;
    max-width: 100%;
    /* max-width: 600px; */
    /* background-color: var(--Green); */
    background-color: var(--Crust);
    border-radius: 1em;
    padding: 20px;
    padding-top: 0px;
    margin: 20px auto 0 auto;
}

/* .wider {

}
 */
.small-container {
    /* background-color: var(--Mantle); */
    margin: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.grid-title {
    width: 100%;
    padding-bottom: 1em;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-description {
}

img {
    margin-left: 1em;
    margin-right: 1em;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: 80ms;

}

img:hover {
    scale: 1.1;

}


.input-text, .input-date{
    width: 100%;
    height: 2em;
    background-color: var(--Crust);
    border: 0.1em solid var(--Blue);
    border-radius: .5em;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.userAuth, .small {
    text-align: left;
    margin-bottom: 0px;
    /* font-size: 1em; */
}

.img-radio {
    max-height: 100px;
    max-width:100px;
    width: auto;
    border-radius: .3em;
}

[type=radio],[type=checkbox]  {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img, .text-radio {
    cursor: pointer;
}

[type=radio]:checked + img {
    outline: 2px solid var(--Mauve);
    box-shadow: 2px solid var(--Green);
}


[type=radio]:checked + .text-radio {
    outline: 2px solid var(--Mauve);
    box-shadow: 2px solid var(--Green);
    border-radius: 10px;
    /* margin: 0 100px 0 100px; */
}


.text-checkbox {
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    padding: 1em;
    border: 2px solid var(--Peach);
    border-radius: 1em;
    cursor: pointer;
}

.text-checkbox:hover {
    border:  2px solid var(--Flamingo);
}

[type=checkbox]:checked + div {
    background-color: var(--Peach);
    color: var(--Crust);
}

.radio-label {
    margin-top: 2px;
}


.button {
    background-color: var(--RoseWater);
    color: var(--Crust);
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    margin-top: 20px;

    font-size: 1.3em;
    cursor: pointer;
    
    transition: all;
    transition-duration: 100ms;
}

.button:hover {
    background-color: var(--Lavender);
    transition: all;
    transition-duration: 100ms;
}

.submit-button {
    margin-top: 30px;
    background-color: var(--Green);
    color: var(--Crust);
    width: 60%;
}

.submit-button:hover {
    background-color: var(--Teal);
}

.notify-text {
    font-weight: bold;
    white-space: pre-wrap;
}

.error{
    color: var(--Maroon);
}

.notify{
    color: var(--Subtext0);
}

.good-notify{
    color: var(--Green);
}

.catppuccin {
    width: 80px;
    margin: 10px;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: var(--Mantle);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.catppuccin {
    width: 80px;
    margin: 10px;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.footer {
    background-color: var(--Mantle);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}


/* admin panel */

.data-row {
    /* width: 100px; */
    /* min-width: 50px; */
    /* max-width: 50px; */
    padding: 10px;
    text-wrap-mode: nowrap;
    border: 0.1em solid var(--Blue);
}

.date-birth {
    min-width: 80px;
    max-width: 80px;
}

.user-name {
    min-width: 120px;
    max-width: 120px;
}
.table-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}